.d-inline {
    display: none;
}

.d-none {
    display: inline;
}

.d-none-input {
    display: none;
}

#display {
    text-align: center;
    font-size: 3.125rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.numbers {
    text-align: center;
    font-size: 1.25rem;
}

.btn {
    text-align: center;
    padding-top: 1.25rem;
}

#button1 {
    color: white;
    background-color: #0D6EFD;
    border: none;
    cursor: pointer;
    padding: .625rem;
    border-radius: .3125rem;
}

#button2 {
    color: white;
    background-color: #0D6EFD;
    border: none;
    cursor: pointer;
    padding: .625rem;
    border-radius: .3125rem;
}

.timer {
    text-align: center;
    font-size: 3.125rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.text-card {
    text-align: center;
    padding-bottom: 1.25rem;
}

.input {
    text-align: center;
}

input {
    width: 3.125rem;
}

